nav {
                 //box-sizing: border-box;
                 top: 0;
                 width: 100%;
                 padding: 10px;
                 background: #111;
                 position: fixed;
                 z-index: 1;
            }
            body {
                margin: 0;
               padding: 0;
            }
            #shopGallery {
               width: 90%;
               min-height: 50px;
               background: #111;
               margin: 40px auto 10px auto;
               display: table;
            }
            #shopGallery .shopItem {
                   width: calc(25% - 10px);
                   //height: 50px;
                   background: #fff;
                   float:left;
                   margin: 5px;
            }
            #shopGallery .shopImg {
                   width: 100%;
                   height: 100px;
            }
             #shopGallery .shopTitle {
                   box-sizing: border-box;
                   width: 100%;
                   padding: 10px;
                   font-size: 15px;
                   background: red;
                   color: #111;
                   height: 35px;
            }
            #shopGallery .shopSize {
                   box-sizing: border-box;
                   width: 100%;
                   padding: 10px;
                   font-size: 15px;
                   background: red;
                   color: #111;
                   height: 35px;
            }
             .check {
                   display: table;
                   margin: 10px auto;
                   width: 90%;
             }
             #actShoppingCartBox {
                   width: 40%;
                   background: red;
                   top: 40px;
                   right: 10px;
                   //display: table;
                   max-height: calc(100vh - 40px);
                   position: fixed;
                   z-index: 1;
                   overflow-y: auto;
             }
             #actShoppingCart {
                   width: 100%;
             }
              #actShoppingItem  {
                    height: 60px;

              }
           
             #actShoppingItem #actShoppingImg{
                  width: 20%;
                  height: 100%;
                  background: #fff;
                  float: left;
             }
             #actShoppingItem #actShoppingName{
                  width: 50%;
                  height: 100%;
                  float: left;
                  box-sizing: border-box;
                  padding: 10px;
                  border: 1px solid #111;
                  text-align: center;
                  //background: #fff;
             }
             #actShoppingItem #actShoppingQuantity{
                  width: 10%;
                  height: 100%;
                  float: left;
                  box-sizing: border-box;
                  padding: 10px;
                  border: 1px solid #111;
                  padding: 10px;
                  text-align: center;
                  //background: #fff;
             }
             #actShoppingItem #actShoppingPrice{
                  width: 20%;
                  height: 100%;
                  float: left;
                  box-sizing: border-box;
                  padding: 10px;
                  border: 1px solid #111;
                  padding: 10px;
                  text-align: center;
                  //background: #fff;
             }
             #actShoppingCartTotal {
                   width: 100%;
             }
             #shoppingTotal {
                height: 60px;
                background: blue;
             }
             #shoppingTotal #shoppingTotalTitle{
                  width: 80%;
                  height: 100%;
                  float: left;
                  box-sizing: border-box;
                  padding: 10px;
                  border: 1px solid #111;
                  padding: 10px;
                  text-align: center;
                  //background: #fff;
             }
             #shoppingTotal #shoppingTotalAmt{
                  width: 20%;
                  height: 100%;
                  float: left;
                  box-sizing: border-box;
                  padding: 10px;
                  border: 1px solid #111;
                  padding: 10px;
                  text-align: center;
                  //background: #fff;
             }